<div class="container mt-5">
 <div class="row">
  <div class="col">
   <h1 class="text-primary">
<i class="fa fa-eye"></i> &nbsp; View Contact Page
   </h1>
   <p style="text-align: justify;" class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, adipisci culpa reiciendis tenetur dolorem iure quod earum mollitia perferendis ducimus, amet, vitae accusantium! Officia illum mollitia iusto maiores obcaecati hic. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem dicta sapiente illum assumenda debitis laudantium molestiae eveniet neque odio ad qui vero quos nihil accusantium nam consectetur, natus voluptatum. Voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, adipisci culpa reiciendis tenetur dolorem iure quod earum mollitia perferendis ducimus, amet, vitae accusantium! Officia illum mollitia iusto maiores obcaecati hic. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem dicta sapiente illum assumenda debitis laudantium molestiae eveniet neque odio ad qui vero quos nihil accusantium nam consectetur, natus voluptatum. Voluptates.</p>
 
  </div> 
 </div>
<div class="container mt-4">
 <div class="row border p-5 align-items-center ">
  <div class="col-md-4 text-center">
   <img [src]="contact.photo" alt="" class="w-50 ">
   
   <br> <br> 
   <a routerLink="/" class="btn btn-primary"><i class="fa fa-circle-left"></i> &nbsp; &nbsp;  Go Back</a>
  </div>
  <div class="col-md-8">
   <ul class="list-group">
    <li class="list-group-item">Name : <span>{{contact.name}}</span></li>
    <li class="list-group-item">Email : <span>{{contact.email}}</span></li>
    <li class="list-group-item">Mobile : <span>{{contact.mobile}}</span></li> 
    <li class="list-group-item">Company : <span>{{contact.company}}</span></li>
    <li class="list-group-item">Title : <span>{{contact.title}}</span></li>
    <li class="list-group-item">Group : <span>{{groupName}}</span></li>
  </ul>
  </div>
 </div>
</div>

</div>